
@each $breakpoint in map-keys($grid-breakpoints) {
  @include bp-up($breakpoint) {
    @if $breakpoint == xs {
      ._seed-offset {
        bottom: var(--seed-offset-bottom, auto);
        left: var(--seed-offset-left, auto);
        right: var(--seed-offset-right, auto);
        top: var(--seed-offset-top, auto);
      }
    } @else {
      ._seed-offset-#{$breakpoint} {
        bottom: var(--seed-offset-bottom-#{$breakpoint}, auto);
        left: var(--seed-offset-left-#{$breakpoint}, auto);
        right: var(--seed-offset-right-#{$breakpoint}, auto);
        top: var(--seed-offset-top-#{$breakpoint}, auto);
      }
    }
  }
}

